################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PY1010/FileContentIndex/03451255-ac88-4ebe-b649-b13c7302464c.vsidx
/.vs/PY1010/FileContentIndex/e1122490-6440-43d5-9b65-b4113f96a9f2.vsidx
/.vs/PY1010/FileContentIndex/97bf0d4e-71e1-4f08-b9d7-0fff943f764a.vsidx
/.vs/PY1010/FileContentIndex/68c2ab5d-bfd1-491d-b436-07993beb98a9.vsidx
